<p id="hp">HP: 
    <strong data-bind="text: hp"></strong>
    /<span data-bind="text: maxHp"></span>
</p>
<p id="energy">Energy: 
    <strong data-bind="text: mp"></strong>
    /<span data-bind="text: maxMp"></span>
</p>
<p>meleAttack: <strong data-bind="text: meleAttack"></strong></p>
<p>meleDefense: <strong data-bind="text: meleDefense"></strong></p>
<p>magicAttack: <strong data-bind="text: magicAttack"></strong></p>
<p>magicDefense: <strong data-bind="text: magicDefense"></strong></p>
<p>experience: <strong data-bind="text: experience"></strong></p>
<p>level: <strong data-bind="text: level"></strong></p>

