<br />
<a href="#/admin/register" id="register-link-btn">Register Admin</a>
<a href="#/users" id="get-users-btn">Get All Users</a>
<a href="#/monsters" id="get-monsters-btn">Get All Monsters</a>
<a href="#/items" id="get-items-btn">Get All Items</a>
<a href="#" id="logout-btn" ng-click="logoutAdmin()">Logout</a>

<br />
<br />
<a href="#/item/{{item.itemId}}/update" id="item-update-btn">Update item</a>
<ul id="item-details">
    <li>
        <img src="{{item.imageUrl}}" alt="Image"></li>
    <li>Name: <span class="detail">{{item.name}}</span></li>
    <li>Description: <span class="detail">{{item.description}}</span></li>
    <li>Mele Attack: <span class="detail">{{item.meleAttack}}</span></li>
    <li>Magic Attack: <span class="detail">{{item.magicAttack}}</span></li>
    <li>Magic Defense: <span class="detail">{{item.magicDefense}}</span></li>
    <li>Mele Defense: <span class="detail">{{item.meleDefense}}</span></li>
    <li>Category: <span class="detail">{{item.itemCategory}}</span></li>
</ul>