<br />
<a href="#/admin/register" id="register-link-btn">Register Admin</a>
<a href="#/users" id="get-users-btn">Get All Users</a>
<a href="#/monsters" id="get-monsters-btn">Get All Monsters</a>
<a href="#/items" id="get-items-btn">Get All Items</a>
<a href="#" id="logout-btn" ng-click="logoutAdmin()">Logout</a>

<ul id="user-details">
    <li>Username: <span class="detail">{{user.username}}</span></li>
    <li>Nickname: <span class="detail">{{user.displayName}}</span></li>
    <li>Gold: <span class="detail">{{user.gold}}</span></li>
    <!--<li>
        <span>Hero:</span>
        <ul id="hero-details">
            <li>Name: <span class="detail">{{user.hero.name}}</span></li>
            <li>HP: <span class="detail">{{user.hero.hp}}</span></li>
            <li>Max HP: <span class="detail">{{user.hero.maxHp}}</span></li>
            <li>MP: <span class="detail">{{user.hero.mp}}</span></li>
            <li>Max MP: <span class="detail">{{user.hero.maxMp}}</span></li>
            <li>Magic Attack: <span class="detail">{{user.hero.magicAttack}}</span></li>
            <li>Magic Defense: <span class="detail">{{user.hero.magicDefense}}</span></li>
            <li>Mele Attack: <span class="detail">{{user.hero.meleAttack}}</span></li>
            <li>Mele Defense: <span class="detail">{{user.hero.meleDefense}}</span></li>
        </ul>
    </li>-->
</ul>